# Real Estate Clean up

This is a real dataset, and it was downloaded using web scraping techniques. The data contains registers from **Fotocasa** which is one of the most popular real estate websites in Spain. Please, do not do this (web scraping) unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and in no case were economic returns obtained from it.

It contains thousands of data from real houses published on the web www.fotocasa.com. Your goal is to extract as much information as possible with the knowledge you have so far about data science, for example what is the most expensive house in the entire dataset?

Let's start with precisely that question... Good luck!

#### Exercise 00. Read the dataset assets/real_estate.csv and try to visualize the table (★☆☆)

In [1]:
import pandas as pd

# This CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Exercise 01. Which is the most expensive house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address General Street Nº5 is the most expensive and its price is 5000000 USD`

In [ ]:
# TODO
import pandas as pd

# this CSV file contains semicolons instead of comas as separator
pd.set_option("display.max_rows", 80)
pd.set_option("display.max_columns", 40)
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds

#### Exercise 02. Which is the cheapest house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address Concrete Street Nº1 is the cheapest and its price is 12000 USD`

In [ ]:
# TODO
top_prop = ds.loc[ds["price"] == ds["price"].max()]
address = top_prop["address"].iloc[0]
price = top_prop["price"].iloc[0]
print(f"The house with address {address} is the most expensive and its price is {price} UDS")


ds.sort_values(["price"], inplace=True)
ds2 = ds[ds["price"] > 2000]
lowest_price_prop = ds2.loc[ds["price"] == min(ds2["price"])]
address = lowest_price_prop['address'].iloc[0]
price = lowest_price_prop['price'].iloc[0]
surface = lowest_price_prop['surface'].iloc[0]

print(f"The house with address {address} is the cheapest and its price is {price} UDS. also its surface is {surface}.")

#### Exercise 03. Which is the biggest and the smallest house in the dataset? (★☆☆)

Print both the address and the surface of the selected houses. For example:

`The biggest house is located on Yukka Street Nº10 and its surface is 5000 meters`

`The smallest house is located on County Road 1 N and its surface is 200 meters`

In [ ]:
# TODO
max_size = ds2["surface"].max()
biggest_prop = ds2.loc[ds2["surface"] == max_size]
address_big = biggest_prop['address'].iloc[0]
surface_big = biggest_prop['surface'].iloc[0]
min_size = ds2["surface"].min()
smallest_prop = ds2.loc[ds2["surface"] == min_size]
address_small = smallest_prop['address'].iloc[0]
surface_small = smallest_prop['surface'].iloc[0]

print(f"The biggest house is located on {address_big} and its surface is {surface_big} meters")
print(f"The smaller house is located on {address_small} and its surface is {surface_small} meters")

#### Exercise 04. How many populations (level5 column) the dataset contains? (★☆☆)

Print the names of the populations with a comma as a separator. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [ ]:
# TODO
categorias_level5 = ds2['level5'].unique()
print(f"There are {len(categorias_level5)} populations.")
print("Populations:", categorias_level5)

#### Exercise 05. Does the dataset contain NAs? (★☆☆)

Print a boolean value (`True` or `False`) followed by the rows/cols that contains NAs.

In [ ]:
# TODO
cols_with_na = ds2.columns[ds2.isna().any()].tolist()
rows_with_na = ds2[ds2.isna().any(axis=1)]

print(f"The columns that contain NAs are {len(cols_with_na)}, and are the following:")
for col in cols_with_na:
       print("True "+col)
print(f"The rows that contain NAs are {len(rows_with_na)}")

#### Exercise 06. Delete the NAs of the dataset, if applicable (★★☆)

Print a comparison between the dimensions of the original DataFrame versus the DataFrame after the deletions.

In [ ]:
# 
ds_to_delete_nas = ds.copy()
no_nas_ds = ds_to_delete_nas.dropna()
print(f"DataFrame with NAs: {ds_to_delete_nas.shape}")
print(f"DataFrame without NAs: {no_nas_ds.shape}")

#### Exercise 07. Which is the mean of prices in the population (level5 column) of "Arroyomolinos (Madrid)"? (★★☆)

Print the obtained value.

In [ ]:
# TODO
arroyomolinos_data = ds2[ds2["level5"] == "Arroyomolinos (Madrid)"]
arroyomolinos_mean_price = arroyomolinos_data["price"].mean()

print(f"The mean of prices in the population (level5 column) of 'Arroyomolinos (Madrid)' is ${round(arroyomolinos_mean_price)}")

#### Exercise 08. Plot the histogram of prices for the population (level5 column) of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write in the Markdown cell a brief analysis about the plot.

In [ ]:
# TODO: Code
import matplotlib.pyplot as plt
arroyomolinos_prices = arroyomolinos_data["price"]
arroyomolinos_prices_histogram = arroyomolinos_prices.hist(color="lightgreen", bins=5)
plt.xlabel("Prices")
plt.ylabel("Frequency")
plt.title("Histogram of house prices Arroyomolinos")
plt.show()

podemos observar que en Arroyomolinos las propiedades tienen, con mayor frecuencia, un valor cercano a los 300.000 dolares. Hay tambien alta frecuencia, aunque menor que la recién mencionada, en las propiedades con valor cercano a los 400.000. Las propiedades cercanas a los 200.000 se encuentran en tercer lugar en ranking de frecuencia y finalmente observamos muy pocas propiedades en Arroyomolinos con valores cercanos a los 500.000 y 600.000.

#### Exercise 09. Are the average prices of "Valdemorillo" and "Galapagar" the same? (★★☆)

Print both average prices and then write a conclusion about them.

In [ ]:
# TODO
valdemorillo_data = ds2[ds2["level5"] == "Valdemorillo"]
galapagar_data = ds2[ds2["level5"] == "Galapagar"]
valdemorillo_prices = valdemorillo_data["price"]
valdemorillo_mean_price = valdemorillo_prices.mean()
galapagar_prices = galapagar_data["price"]
galapagar_mean_price = galapagar_prices.mean()
print(f"Valdemorillo's houses average price is {round(valdemorillo_mean_price)}")
print(f"Galapagar's houses average price is {round(galapagar_mean_price)}")
print("The average house price in Valdemorillo is slightly higher than Galapagar's")
print(f"Total houses in Valdemorillo: {len(valdemorillo_data)}")
print(f"Total houses in Galapagar: {len(galapagar_data)}")
print(f"Lowest house price in Voldemorillo: {min(valdemorillo_prices)}")
print(f"Lowest house price in Galapagar: {min(galapagar_prices)}")

#### Exercise 10. Are the average prices per square meter (price/m2) of "Valdemorillo" and "Galapagar" the same? (★★☆)

Print both average prices and then write a conclusion about it.

Hint: Create a new column called `pps` (price per square meter) and then analyze the values.

In [ ]:
# TODO
valdemorillo_data["pps"] = valdemorillo_data["price"] / valdemorillo_data["surface"]
galapagar_data["pps"] = galapagar_data["price"] / galapagar_data["surface"]
valdemorillo_average_pps = valdemorillo_data["pps"].mean()
galapagar_average_pps = galapagar_data["pps"].mean()
print(f"Valdemorillo's average price per square meter: {round(valdemorillo_average_pps)}")
print(f"Galapagar's average price per square meter: {round(galapagar_average_pps)}")

#### Exercise 11. Analyze the relation between the surface and the price of the houses (★★☆)

Hint: You can make a `scatter plot`, then write a conclusion about it.

In [ ]:
# TODO: Code
x = ds2["price"]
y = ds2["surface"]
plt.scatter(x, y, alpha=0.5)
plt.show()

**TODO: Markdown**. To write here, double-click on this cell, remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 12. How many real estate agencies does the dataset contain? (★★☆)

Print the obtained value.

In [ ]:
# TODO
agencies_count = len(ds2["realEstate_name"].value_counts())
print(agencies_count)

#### Exercise 13. Which is the population (level5 column) that contains the most houses? (★★☆)

Print both the population and the number of houses.

In [ ]:
# TODO
conteo_categorias_level5 = ds2['level5'].value_counts()
most_houses_population = conteo_categorias_level5.idxmax()
print(f"Houses per population: {conteo_categorias_level5}")
print(f"The population with the most houses is {most_houses_population} and it has {conteo_categorias_level5[most_houses_population]} houses")

#### Exercise 14. Now let's work with the "south belt" of Madrid. Make a subset of the original DataFrame that contains the following populations (level5 column): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

Hint: Filter the original DataFrame using the column `level5` and the function `isin`.

In [ ]:
# TODO
south_belt = ds2[ds2['level5'].isin(["Fuenlabrada", "Leganés", "Getafe", "Alcorcón"])]
print(south_belt.shape)

#### Exercise 15. Make a bar plot of the median of the prices and explain what you observe (you must use the subset obtained in Exercise 14) (★★★)

Print the bar of the median of the prices and write in the Markdown cell a brief analysis about the plot.

In [ ]:
# TODO: Code 
median_prices = south_belt.groupby("level5")["price"].median()

plt.figure(figsize=(8,6))
median_prices.plot(kind="bar", color = "lightgreen")

plt.title("Median prices South Belt")
plt.xlabel("Population")
plt.ylabel("Median prices")
plt.show()

#### Exercise 16. Calculate the sample mean and variance of the variables: price, rooms, surface area and bathrooms (you must use the subset obtained in Exercise 14) (★★★)

Print both values for each variable.

In [ ]:
# TODO
mean_price = south_belt["price"].mean()
variance_price = south_belt.price.var()
mean_rooms = south_belt["rooms"].mean()
variance_rooms = south_belt["rooms"].var()
mean_surface = south_belt["surface"].mean()
variance_surface = south_belt["surface"].var()
mean_bathrooms = south_belt["bathrooms"].mean()
variance_bathrooms = south_belt["bathrooms"].var()

print(f"South Belt Mean price: {mean_price}\nSouth Belt price variance: {variance_price}")
print(f"South Belt Mean rooms: {round(mean_rooms)}\nSouth Belt rooms variance: {round(variance_rooms)}")
print(f"South Belt Mean surface: {round(mean_surface)}\nSouth Belt surface variance: {round(variance_surface)}")
print(f"South Belt Mean bathrooms: {round(mean_bathrooms)}\nSouth Belt bathrooms variance: {round(variance_bathrooms)}")

#### Exercise 17. What is the most expensive house in each population? You must use the subset obtained in Exercise 14 (★★☆)

Print both the address and the price of the selected house of each population. You can print a DataFrame or a single line for each population.

In [ ]:
# TODO
def max_price_and_address(group):
    max_price = group["price"].max()
    max_address = group.loc[group["price"].idxmax(), "address"]
    return max_price, max_address
most_expensive_houses = south_belt.groupby("level5").apply(max_price_and_address).rename("Max price and Address").reset_index()
print(most_expensive_houses)

#### Exercise 18. Normalize the variable of prices for each population and plot the 4 histograms in the same plot (you must use the subset obtained in Exercise 14) (★★★)

For the normalization method, you can use the one you consider; there is not a single correct answer to this question. Print the plot and write in the Markdown cell a brief analysis about the plot.

Hint: You can help yourself by reviewing the *multihist* demo of Matplotlib.

In [ ]:
# TODO
def normalizar(group):
    mean_price = group["price"].mean()
    std_dev_price = group["price"].std()
    precio_normal = (group["price"]-mean_price) / std_dev_price
    return precio_normal
normal_prices = south_belt.groupby("level5").apply(normalizar).rename("precios normales").reset_index()
print(normal_prices)
for name, group in normal_prices.groupby("level5"):
    plt.hist(group['precios normales'], bins=30, alpha=0.5, label=f'Grupo {name}')

plt.xlabel('Precio Normalizado')
plt.ylabel('Frecuencia')
plt.title('Histogramas de Precios Normalizados por Grupo')
plt.legend()
plt.grid(True)
plt.show()

**TODO: Markdown**. To write here, double-click on this cell, remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 19. What can you say about the price per square meter (price/m2) between the towns of "Getafe" and "Alcorcón"? You must use the subset obtained in Exercise 14 (★★☆)

Hint: Create a new column called `pps` (price per square meter) and then analyze the values.

In [ ]:
# TODO
south_belt["pps"] = south_belt["price"] / south_belt["surface"]
getafe = south_belt[south_belt["level5"] == "Getafe"]
alcorcon = south_belt[south_belt["level5"] == "Alcorcón"]
print(f"Alcorcón price per square meters: {alcorcon.pps.mean()}")
print(f"Getafe price per square meters: {getafe.pps.mean()}")

El promedio de precio por metro cuadrado en Alcorcón es muy cercano al de Getafe. Observamos un diferencia de menos de 200 dolares, siendo el precio por metro cuadrado de Alcorcón superior.

#### Exercise 20. Make the same plot for 4 different populations (level5 column) and rearrange them on the same graph. You must use the subset obtained in Exercise 14 (★★☆)
 
Hint: Make a scatter plot of each population using subplots.

In [ ]:
# TODO
fig, axs = plt.subplots(2, 2, figsize=(10, 8))
populations = south_belt['level5'].unique()
for i, population in enumerate(populations):
    row = i//2
    col = i%2
    group = south_belt[south_belt["level5"]==population]
    axs[row, col].scatter(group["price"], group["surface"], label = population)
    axs[row,col].set_title(f"Population {population}")
    axs[row,col].set_xlabel("Price")
    axs[row,col].set_ylabel("Surface")
    axs[row,col].legend()
plt.show()
print(getafe.price)

#### Exercise 21. Make a plot of the coordinates (latitude and longitude columns) of the south belt of Madrid by color of each population (you must use the subset obtained in Exercise 14) (★★★★)

Execute the following cell, and then start coding in the next one. You must implement a simple code that transforms the coordinates columns in a Python dictionary (add more information if needed) and then add it to the map

#no conseguí resultados con la libreria base del ejercicio del bloque de codigo que sigue, por lo que utilicé otras librerías en el bloque de código final

In [ ]:
from ipyleaflet import Map, basemaps

# Map centered on (60 degrees latitude and -2.2 degrees longitude)
# Latitude, longitude
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## HERE: plot the coordinates of the estates

## PUT HERE YOUR CODE:

In [ ]:
from ipyleaflet import Map, Marker, AwesomeIcon, basemaps

# Mapa centrado en Madrid
center = [40.35, -3.75]
zoom = 10
map = Map(basemap=basemaps.CartoDB.Positron, center=center, zoom=zoom)

# Diccionario de colores
colors = {
    'Getafe': "red",
    'Leganés': "blue",
    'Fuenlabrada': "green",
    'Alcorcón': "purple",
}

# Iterar sobre cada fila del DataFrame
for index, row in south_belt.iterrows():
    lat = row["latitude"]
    lon = row["longitude"]
    population = row["level5"]

    # Obtener el color correspondiente o usar negro por defecto
    color = colors.get(population, "black")

    # Crear un marcador con el ícono y color correspondiente
    icon = AwesomeIcon(name='info-circle', marker_color=color, icon_color="white")
    marker = Marker(location=(lat, lon), icon=icon)
    
    # Agregar el marcador al mapa
    map.add_layer(marker)

# Mostrar el mapa
map